* {
    font-family: 'Roboto Slab', serif;
   }
 
   body {
     margin: 0;
     background-color: #f8f9fa;
   }

.code {
    font-family: 'Inconsolata', monospace;
    background-color: #e4e4e4;
    /* color: #ffffff; */
    padding: 3px;  
    padding-left: 5px;
}

.sidebar {
    position: -webkit-sticky;
    position: fixed;
    display: block;
    top: 30%;
    width: 15%;
    background-color: #e4e4e4;
    padding: 3px;
}

.sidebar li, a {
    text-decoration: none;
}

.test {
    position: absolute;
   }